<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <title>xx</title>
</head>


<body>
    <input type="text">
    <button>123</button>

</body>



<script>
    // $.post(url, data, function)
    // data = {
    //     'key': 'value'
    // }

    // $.post('/test/', data, function(ans){
    //     console.log('ans:', ans)
    // })
    
   
    // 往服务器上传要保存的data
    update_something = function(){
        // 取出输入框的值
        a = $('input').val()
        // 做一个简单的dict
        data = {
            'keyyy': a
        }
        // 给后端传过去
        $.post('/test/', data, function(ans){
            console.log('我上传完毕啦～')
            console.log('ans:', ans)
        })
    } 
    
    // 只要我button被点击了 我就执行这个function 哼
    $('button').click(function(){
        update_something()
    })

</script>


</html>